.tool-options {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 50px; /* Adjust top position to place it at the middle of the canvas */
  left: 50%; /* Move to the horizontal center */
  transform: translateX(-50%); /* Center the element horizontally */
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tool-icons {
  display: flex;
}

.tool-icon {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 10px;
  outline: none;
  transition: opacity 0.3s ease;
  color: gray; /* Set the default color */
}

.tool-icon.active {
  opacity: 0.7;
}

.tool-actions button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease;
  color: gray; /* Set the default color */
}

.tool-actions button:hover {
  background-color: #f0f0f0;
}

.tool-actions button:active {
  background-color: blue; /* Change to blue when clicked */
  color: white; /* Change text color to white */
}
